@import './colors.less';

.reference-list {
    height: calc(100% - 10px);
    width: calc(100% - 20px);

    background: @grey-1;

    .reference-table {
        height: 100%;
        width: 100%;

        td,
        th,
        td .ant-btn {
            font-size: 16px;
        }


        .ant-table {
            border-radius: 10px;
        }

        .ant-table-thead>tr>th {
            &:first-child {
                border-top-left-radius: 10px;
            }

            &:last-child {
                border-top-right-radius: 10px;
            }
        }

        .used-in-list-row {
            td {
                padding: 5px;
            }

            .used-in-list {
                margin-left: 75px;
                background: @grey-1;
            }
        }
    }
}